@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-body {
  margin: 25px;
}

.bbek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sandeep {
  height: 200px !important;
}

.right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

footer {
  margin-top: 0px;
}

.footer-iner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 20% 30% 25%;
      grid-template-columns: 25% 20% 30% 25%;
  grid-gap: 10px;
}

.adds {
  display: block;
  margin-top: 10px;
  width: 95%;
  border-radius: 5px;
  overflow: hidden;
  padding: 0px;
  position: relative;
}

.adds a img {
  width: 100%;
  height: 150px;
}

.ccc .container-fluid .row .col-lg-6 {
  width: 56%;
}

.ccc .container-fluid .row .col-lg-3 {
  width: 22%;
}

.search-category {
  width: 60%;
}

.ser-cat {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ser-cat .inp {
  width: 300px !important;
  height: 38px !important;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
  margin-top: 1px;
  margin-left: 15px;
}

.ser-cat .btn-info {
  width: 137px;
  margin-top: -1px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ccc;
  letter-spacing: 0.03rem;
}

a {
  text-decoration: none;
}

.container-fluid {
  max-width: 1270px;
  width: 1270px;
}

ul li {
  list-style: none;
}

/*Strat -----headeing-------*/
.header {
  padding: 10px;
  margin: 0px;
  background: #fff;
}

.header-right {
  margin-left: 107px;
}

.call a {
  color: #650046;
  margin-left: 230px;
}

.headermenu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  margin-left: 60px;
  margin-top: 10px;
  text-transform: uppercase;
}

.headermenu a {
  padding-left: 5px;
}

.headermenu .freelist {
  color: #636363;
  background: #650046;
  border-radius: 5px;
  margin: 0px 13px;
  padding: 5px 10px;
}

.headermenu .freelist:hover {
  background: #b90984;
}

.headermenu .freelist a {
  color: #fff;
}

.headermenu .freelist a:hover {
  border-bottom: 1px solid #fff;
}

.headermenu .promote {
  color: #636363;
  border-radius: 5px;
  padding: 5px 8px;
}

.headermenu .promote:hover {
  background: #b90984;
}

.headermenu .promote a {
  color: #636363;
}

.headermenu .promote a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.headermenu .login {
  border-radius: 5px;
  padding-top: 5px;
  margin-right: 0px;
}

.headermenu .login:hover {
  background: #b90984;
  color: #fff !important;
}

.headermenu .login a {
  color: #636363;
}

.headermenu .login a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.logo img {
  width: 150px;
  display: block;
  height: 65px;
}

/* end ---header-------*/
/*start--slider*/
.dropdown-toggle {
  padding: 2px 20px;
  font-size: 14px;
  color: #636363;
  white-space: nowrap;
}

/*---end slider*/
/*start-------contain*/
.contain {
  background: #efefef;
  margin: 0px;
}

/*--start-----left---side----bar----category---list*/
.sliderbar {
  background: #fff;
  padding: 0;
  width: 230px !important;
  margin-right: auto;
  margin-left: auto;
  margin-top: -238px;
  border-radius: 5px;
  z-index: 10;
}

.sliderbar .barlist {
  width: 100%;
  padding: 0px 0px;
}

.sliderbar .barlist li {
  padding: 5px 0px 5px 15px;
  font-size: 20px;
  font-weight: 300;
}

.sliderbar .barlist li:hover {
  -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.sliderbar .barlist li a {
  color: #636363;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sliderbar .barlist li a span {
  padding: 0px 5px;
}

.sliderbar .barlist li a span img {
  width: 28px;
  height: 34px;
}

.sliderbar .barlist li:nth-child(even) {
  background: #f5f5f5;
  width: 100%;
}

/*--end---left---side----bar----category---list*/
/*start----search-side----of----contain*/
.search {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  position: relative;
}

.search .searchinp {
  position: absolute;
  top: 0px;
  left: 27%;
  width: 440px;
  height: 100%;
  z-index: 1;
}

.search .searchinp .inp {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0px 10px;
  outline: 0px;
}

.search .searchinp .inp::-webkit-input-placeholder {
  padding-left: 20px;
  opacity: 0.7;
}

.search .searchinp .inp:-ms-input-placeholder {
  padding-left: 20px;
  opacity: 0.7;
}

.search .searchinp .inp::-ms-input-placeholder {
  padding-left: 20px;
  opacity: 0.7;
}

.search .searchinp .inp::placeholder {
  padding-left: 20px;
  opacity: 0.7;
}

.search .search-icon {
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 12;
}

.search .search-icon span i {
  width: 40px;
  background: #650046;
  color: #fff;
  font-size: 30px;
  padding: 5px;
  height: 40px;
}

.search .search-laocation {
  position: absolute;
  top: 1px;
  left: 2%;
  width: 100%;
  height: 100%;
}

/*end----search-side----of----contain*/
/*---start------popular--------*/
.popular-title h6 {
  color: #650046;
  font-size: 18px;
  padding: 10px 0px;
  font-weight: 500;
}

/*----End---popular------------*/
/*----start----main-----body-----part--*/
.figure {
  width: 49%;
  position: relative;
  color: #4d4d4d;
  border-radius: 5px;
  overflow: hidden;
  height: 180px;
  margin-bottom: 17px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.figure .figure-text {
  height: 100%;
  width: 50%;
  padding-top: 0px;
  background: #F5F9FF;
}

.figure .figure-text a {
  color: #650046;
  padding-top: 8px;
  padding-left: 15px;
  text-transform: uppercase;
}

.figure .figure-text span h6 {
  padding-left: 15px;
}

.figure .figure-text ul {
  padding-left: 0px;
}

.figure .figure-text ul li {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.9rem;
}

.figure .figure-text ul li:hover {
  color: #fff !important;
  background-color: #650046;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.figure .figure-text ul li:hover a {
  color: #fff;
}

.figure .figure-text ul li a {
  color: #333;
}

.figure .figure-img {
  width: 50%;
  height: 100%;
  line-height: 0px;
  margin: 0;
}

.figure .figure-img a img {
  width: 101%;
  height: 100%;
  overflow: hidden;
  display: block;
}

.figure:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

/*----End----main-----body-----part--*/
/*---end -------contain*/
/*----start-----footer---*/
.footer {
  background: #650046;
  padding: 40px 0px 20px 0px;
  margin: 0;
}

.footer .footer-title {
  color: #fff;
}

.map ul {
  padding: 0px;
}

.map ul li {
  line-height: 2rem;
  margin: 0px !important;
}

.map ul li a {
  color: #ccc;
  font-size: 15px;
}

.map ul li a:hover {
  border-bottom: 1px solid #ccc;
}

.follower-icon span {
  overflow: hidden;
  text-align: center;
}

.follower-icon span i {
  color: skyblue;
  background-color: #650046;
  width: 40px;
  height: 40px;
  font-size: 43px;
  padding: 0px;
  margin: 5px 5px 5px 5px;
  border-radius: 50%;
}

.follower-icon span i:hover {
  background: #fff;
  color: blue;
  overflow: hidden;
  font-size: 45px;
  padding: -20px -2px -1px 2px;
}

.footer-down {
  text-align: center;
  color: #fff;
}

/*------End------footer---*/
/*---start------category-----slider---*/
.cat-slider {
  max-height: 400px;
  height: 200px;
  position: relative;
}

.cat-slider .cat-slider-img {
  width: 100%;
  height: 100%;
}

.cat-slider .cat-slider-img a img {
  display: block;
  width: 100%;
  height: 100%;
}

.cat-slider .cat-slider-box-title {
  position: absolute;
  top: 10%;
  left: 20%;
  color: #fff;
  letter-spacing: 2px;
}

.cat-slider .cat-slider-box-title h4 {
  font-size: 60px;
  font-weight: 300;
}

.cat-slider .box .box-card {
  background: rgba(124, 2, 155, 0.727);
  padding: 10px;
}

.cat-body {
  margin: 50px 0px;
}

.cat-body .cat-body-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px 0px;
  position: relative;
}

.cat-body .category-list {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.cat-body .category-list ul li {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 13px 0px;
  width: 95%;
}

.cat-body .category-list ul li .cat-list-title {
  background: #ccc;
  display: block;
}

.cat-body .category-list ul li .cat-list-title h4 {
  padding: 5px 15px;
  font-weight: bold;
}

.cat-body .category-list ul li a .flex {
  color: #413f3f;
  padding: 2px 10px 2px 20px;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat-body .category-list ul li a .flex:hover {
  color: #650046;
}

/*---end-------category------slider---*/
/*start---mobile--responsive------*/
@media (max-width: 600px) {
  .sliderbar {
    display: none;
  }
}

/*end ---mobile----responsive*/
/*# sourceMappingURL=style.css.map */